= form_for(@group) do |f|
  - if @group.errors.any?
    #error_explanation
      %h2
        = pluralize(@group.errors.count, "error")
        prohibited this group from being saved:
      %ul
        - @group.errors.full_messages.each do |message|
          %li= message
  .row
    .col-lg-2.col-md-3.col-sm-4
      .form-group
        = f.label :acronym
        = f.text_field :acronym, class: 'form-control'
    .col-lg-10.col-md-9.col-sm-8
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-group
    %label.checkbox
      = f.check_box :restricted
      Restricted
  .form-group
    %label.checkbox
      = f.check_box :visible
      Visible
  .actions.pull-right
    - if @group.new_record?
      = link_to groups_path, class: 'btn btn-default' do
        %i.glyphicon.glyphicon-arrow-left
        Cancel
    - else
      = link_to @group, class: 'btn btn-default' do
        %i.glyphicon.glyphicon-arrow-left
        Cancel
    
    = f.submit class: 'btn btn-primary'
