= bootstrap_form_for(@group) do |f|
  = f.alert_message "Please fix the following errors"
  
  .row
    .col-lg-2.col-md-3.col-sm-4
      = f.text_field :acronym, class: 'form-control', label: "Acronym <span class='text-danger'>(required)</span>".html_safe
    .col-lg-10.col-md-9.col-sm-8
      = f.text_field :name, class: 'form-control', label: "Name <span class='text-danger'>(required)</span>".html_safe
  = f.text_area :description, class: 'form-control', rows: 5

  - if current_user.member?
    = f.check_box :restricted
    = f.check_box :visible

  .actions.pull-right
    - if @group.new_record?
      = link_to groups_path, class: 'btn btn-default' do
        %i.glyphicon.glyphicon-arrow-left
        Cancel
    - else
      = link_to @group, class: 'btn btn-default' do
        %i.glyphicon.glyphicon-arrow-left
        Cancel
    
    = f.submit class: 'btn btn-primary'
