%dl.dl-horizontal
  %dt Title
  %dd= event.title
  %dt Group
  %dd= event.group
  %dt Description
  %dd= event.description
  %dt When?
  %dd= event.event_at
  %dt Location
  %dd= link_to 'View map', event
%hr