%h3= event.title
%p= event.description
.container
  %div
    %strong Group:
    = link_to event.group, event.group
  %div
    %strong Starts:
    = event.starts_at
  %div
    %strong Ends:
    = event.ends_at
%br/
%p
  - if can?(:edit, event)
    = link_to edit_event_path(event), style: 'margin-right: 10px;' do
      %i.fa.fa-edit
      Edit

  = link_to event do
    %i.fa.fa-link
    Permalink
    
