%table.table.table-condensed.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Description
      %th Group
      %th User
      %th Visible
      %th Event at
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.description
        %td= event.group
        %td= event.user
        %td= event.visible
        %td= event.event_at
        %td
          = link_to event, class: 'btn btn-sm btn-primary' do
            %i.glyphicon.glyphicon-eye-open
          = link_to edit_event_path(event), class: 'btn btn-sm btn-default' do
            %i.glyphicon.glyphicon-edit
          = link_to event, method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' } do
            %i.glyphicon.glyphicon-trash