%h1 Posts
%table.table.table-condensed.table-striped.table-bordered
  %tbody
    - @events.each do |event|
      %tr
        %td= event.starts_at
        %td
          %div
            %b= event.title
          %div
            %b Group:
            = event.group
          %div
            = event.description
        %td{ data: { no_turbolink: true } }
          .btn-group
            = link_to event, class: 'btn btn-sm btn-primary' do
              %i.glyphicon.glyphicon-eye-open
            = link_to edit_event_path(event), class: 'btn btn-sm btn-default' do
              %i.glyphicon.glyphicon-edit
            = link_to event, method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' } do
              %i.glyphicon.glyphicon-trash
